.tittleCondition {
  background-color: #97bdf5;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  padding: 10px 10px;

}



@media (max-width: 480px) {   /* Estilos para smartphones pequeños en modo retrato */
  .tittleCondition {
    margin-bottom: 50px;
    margin-left: 12px;
    width: 94%;
    height: 60px;
  }

  .textTitleCondition {
    margin-left: 10px;
  }

  .tittleGraphicCondition {
    width: 98%;
    height: 100px;
    margin-top: 50px;
  }

  .containerGraphicCondition {
    display: flex;
    justify-content: center;
    margin-left: 20px; /* Ajusta el margen izquierdo para evitar conflicto */
    height: 330px;
    width: 90%;
    background-color: #FFF0FF;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .tittleGraphicCondition{
      width: 70%;
      margin-left: 100px;

    }
    .containerGraphicCondition{
      margin-left: 230px;
      
    }

    .tittleCondition{
      text-align: center;
      margin-left: 70px;
      width: 100%;
      
    }

}

@media (min-width: 1025px) {
.tittleCondition {
  display: flex;
  background-color: #97bdf5;
  max-width: 650px;
  width: 140%;
  height: 60px;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  padding: 10px 10px;
}

.textTitleCondition {
  font-family: "Yusei Magic";
  text-align: center;
  font-size: 1.5rem;
}

.tittleGraphicCondition {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 50px;
}

.containerGraphicCondition {
  display: flex;
  justify-content: center;
  width: 140%;
  height: 380px;
  background-color: #FFF0FF;
  padding: 10px 10px;
  margin-top: 50px;
  border-radius: 15px;
  
}
}
