.container-Localidad {
    text-align: center; 
    font-family: 'Yusei Magic', sans-serif;
    width: 80%;
    margin-left: 130px;
    padding: 10px;
    border-radius: 15px;
  }
  
  #Localidad {
    background-color: #DCBADB;
    padding: 10px;
    border-radius: 20px;
  }
  
  @media(max-width: 480px) {   /* Estilos para smartphones pequeños en modo retrato */ 
    .container-Localidad{
      width: 95%;
      margin-left: 8px;
      
    }

    #Localidad{

    }
  }
  
  
  /* Estilos para portatiles*/
  @media (min-width: 768px) and (max-width: 1024px) {
    .container-Localidad{
      margin-left: 0px;
    }
    #Localidad{
      width: 900px;
      margin-left: 120px;
    }
  }
  
  @media (min-width: 1025px){
    .container-Localidad{
    width: 90%;
    
    
    }

    #Localidad{
      width: 90%;
      margin-left: 40px;
    }
    }
  
  
  