.container{
    margin: 4rem 6rem;
    font-family: Poppins;
    padding: 0 4rem 0 0;
    
}

.first-des{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}

p{
    width: 45%;
    text-align: start;
    font-size: 1.1rem;
}

h2{
    
    color: #711288;
    transform: translate(-50%, -50%) rotate(-90deg);
}

.image{
    position: relative;
    display: flex;
    align-items: center;
}

.image img{
    width: 50%;
    align-items: center;
}

.button-flex{
    color: #711288;
    background-color: #C09AC3;
    border-radius: 20px;
    text-decoration: none;
    padding: 4px 25px;
    font-weight: bold;
    cursor: pointer;
}