/*-------------------------------Form------------------------------------*/

.grid-content {
    background-color: #A65BAE;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.white {
    color: white;
}

.purple {
    color: #EF5AFF;
}

.red {
    color: red;
    font-size: 15px;
}

.grid-input {
    display: grid;
    grid-template: 1fr / 200px 200px;
}

.grid-input input[type="text"] {
    border: #A65BAE;
    height: 30px;
    background: #C09AC3;
    color: white;
    font-size: 14px;
}

.white-form-text{
    color: white;
    font-size: 22px;
}

.grid-input textarea{
    background: #C09AC3;
    height: 70px;
    width: 185%;
    color: white;
    font-size: 16px;
}

.grid-input input::placeholder {
    color: white;
    font-size: 14px;
}

.btn-submit {
    margin-top: 20px;
    width: 50%;
    border-radius: 50px;
    background: #EF5AFF;
    color: white;
    border: none;
    font-size: 20px;
}

.btn-submit:hover {
    background: #e151f1; 
    cursor: pointer;
}

@media ( max-width: 1040px) {
    .grid-content {
        padding: 100px 70px;
    }
    
    .grid-input {
        justify-content: end;
    }
}

@media ( max-width: 900px) {
    .grid-content {
        padding: 100px 0;
    }

    .grid-input {
        grid-template-columns: 180px 160px;
    }
}

@media ( max-width: 670px) {
    .grid-content {
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .text {
        margin-bottom: 30px;
    }
    .grid-input {
        justify-content: center;
        grid-template-columns: 180px;
    }

    .grid-input textarea {
        width: 100%;
    }
}



