/*-------------------------------Form------------------------------------*/

.grid-content {
    background-color: #A65BAE;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.white {
    color: white;
}

.purple {
    color: #EF5AFF;
}

.grid-input {
    display: grid;
    grid-template: 1fr / 200px 200px;
}

.grid-input input {
    border: #A65BAE;
    height: 30px;
    background: #C09AC3;
}

.content-input p{
    color: white;
    font-size: 22px;
}

.grid-input textarea{
    background: #C09AC3;
    height: 50px;
    width: 185%;
}

.grid-input input::placeholder, .grid-input input[type="text"] {
    
    color: white;
    font-size: 14px;
}

.btn-submit {
    margin-top: 20px;
    width: 90%;
    border-radius: 50px;
    background: #EF5AFF;
    color: white;
    border: none;
    font-size: 20px;
}


/*-------------------------------Card Wave------------------------------------*/
.container{
    margin: 4rem 6rem;
    font-family: Poppins;
    padding: 0 4rem 0 0;
    
}

.first-des{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}

p{
    width: 45%;
    text-align: start;
    font-size: 1.1rem;
}

h2{
    
    color: #711288;
    transform: translate(-50%, -50%) rotate(-90deg);
}

.image{
    position: relative;
    display: flex;
    align-items: center;
}

.image img{
    width: 50%;
    align-items: center;
}

.button-flex{
    color: #711288;
    background-color: #C09AC3;
    border-radius: 20px;
    text-decoration: none;
    padding: 4px 25px;
    font-weight: bold;
    cursor: pointer;
}


/* WaveAnimation.css */

.waves-container {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
   
    
  }
  
  name-wave{
    position: absolute;
    top: 20%;
  }
  
  .wave {
    position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom; 
  }
  
  .wave1 {
    animation-duration: 0s; 
    opacity: 0.6;
    background-repeat: repeat-y; 
    background-image: url('../../assets/svg/wave1.svg');
  }
  
  .wave2 {
    animation: waveAnimation 6s infinite;  
    opacity: 0.8;
    background-repeat: repeat-y; 
    background-image: url('../../assets/svg/wave2.svg');
  }
  
  .wave3 {
    animation: waveAnimation 9s infinite;  
    opacity: 0.4;
    background-repeat: repeat-y; 
    background-image: url('../../assets/svg/wave3.svg'); 
  }
  
  .title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg); 
    text-align: center;
  }
  
  .vertical-title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    writing-mode: vertical-rl; 
  }
  
  @keyframes waveAnimation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }

/*-------------------------------About Us------------------------------------*/

.image-with-overlay {
  display: flex;
  align-items: center;
  margin-inline: 80px;
}

.image-with-overlay-image {
  max-width: 35%; /* Ajusta el ancho de la imagen */
  height: auto;
}

.image-with-overlay-overlay {
  background-color: rgb(235, 230, 230);
  color: black;
  padding: 12px;
  margin-left: -40px; /* Espacio entre la imagen y el cuadro de texto */
}

.image-with-overlay-overlay h3{
  text-align: left;
  font-weight: bold;
}

/*-------------------Youtube Video----------------------*/

.youtube-video{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* O ajusta la altura según tus necesidades */
}