/* WaveAnimation.css */

.waves-container {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
 
  
}

name-wave{
  position: absolute;
  top: 20%;
}

.wave {
  position: absolute;
left: 0;
width: 200%;
height: 100%;
background-repeat: repeat no-repeat;
background-position: 0 bottom;
transform-origin: center bottom; 
}

.wave1 {
  animation-duration: 0s; 
  opacity: 0.6;
  background-repeat: repeat-y; 
  background-image: url('../../../../assets/img/wave1.svg');
}

.wave2 {
  animation: waveAnimation 6s infinite;  
  opacity: 0.8;
  background-repeat: repeat-y; 
  background-image: url('../../../../assets/img/wave2.svg');
}

.wave3 {
  animation: waveAnimation 9s infinite;  
  opacity: 0.4;
  background-repeat: repeat-y; 
  background-image: url('../../../../assets/img/wave3.svg'); 
}

.title-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg); 
  text-align: center;
}

.vertical-title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  writing-mode: vertical-rl; 
}

@keyframes waveAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
