.section_padding{
    padding: 4rem 4rem;
}

#Footer{
    background-color: #C09AC3;
    margin-top: auto;
}

#Footer a{
color: white;
text-decoration: none;

}

#Footer a:hover{
    color: #711288;   
}

.sb_footer{
    display: flex;
    flex-direction: column;
}

.sb_footer-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}

.sb_footer-links_div{
    color: #711288;
}

.sb_footer-links_div img{
    width: 300px;
    height: auto;
}


.Socialmedia{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.Socialmedia a{
    color: white;
}

.Socialmedia img{
    width: 80%;
}

.sb_footer-links_div h4{
    font-size: 22px;
    line-height: 17px;
    margin-bottom: 0.9rem;
}

.sb_footer-links_div p{
    font-size: 20px;
    line-height: 20px;
    margin: 0.5rem 0;
    cursor: pointer;
}

.sb_footer-below{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
}

.sb_footer-below-links{
    display: flex;
    flex-direction: row;
}

.sb_footer-below-links p{
    font-size: 16px;
    line-height: 15px;
    margin-left: 2rem;
    color: white;
    font-weight: 400;
}

hr {
    color: white !important;
    width: 100%;
}

.sb_footer-copyright{
    font-size: 16px;
    line-height: 15px;
    color: white;
    font-weight: 400;
}

@media screen and (max-width: 850px){
    .sb_footer-heading h1{
        font-size: 44px;
        line-height: 50px;
    }
} 

@media screen and (max-width: 550px){
    .sb_footer-heading h1{
        font-size: 34px;
        line-height: 42px;
    }
    .sb_footer-links div{
        margin: 1rem 0;
    }
    .sb_footer-btn p{
        font-size: 14px;
        line-height: 20px;
    }
    .sb_footer-below{
        flex-direction: column;
        justify-content: left;
    }
    .sb_footer-below-links{
        flex-direction: column;
    }
    .sb_footer-below-links p{
        margin-left: 0rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 400px){
    .sb_footer-heading h1{
        font-size: 27px;
        line-height: 37px;
    }
}