.tittleGenero {
  display: flex;
  background-color: #DCBADB;
  width: 100%;
  height: 60px;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  margin: 50px 1px; /* Ajusta el margen para espacio arriba, abajo, y a la izquierda; auto a la derecha */
}

.textTitleGenero {
  font-family: "Yusei Magic";
  text-align: center;
  font-size: 1.5rem;
}

.containerGraphicGenero {
  display: flex;
  background-color: #FFF0FF;
  width: 100%;
  height: 380px;
  border-radius: 15px;
}

.tittleGraphicGenero {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

@media (max-width: 480px) {
  /* Estilos para smartphones pequeños */ 
  .tittleGraphicGenero {
    width: 95%;
    height: 420px;
    margin-left: 10px; 
  }
  .tittleGenero {
    height: 80px;
    padding-top: 9px;
    margin-top: 20px;
  }

  .containerGraphicGenero{
    padding-top: 30px;
  }

}

@media (min-width: 768px) {
  /* Estilos para tabletas en modo retrato */
}

@media (min-width: 1024px) {
  /* Estilos para pantallas más grandes */
  .tittleGraphicGenero {
    width: 50%;
  }
}
