.container {
    display: flex;
    background-color: #DCBADB;
    width: 100%; /* Makes the container 100% of the width of the parent container */
    height: 100px;
    border-radius: 25px;
    justify-content: center;
    align-items: center; /* Vertically centers the elements inside the container */
    margin: 20px auto; /* Centers horizontally and adds space at the top and bottom */
  }
  
  .textname {
    font-family: "Yusei Magic";
    text-align: center;
    margin-top: -5px; /* Adjusts the top margin to raise the text */
    font-size: 1.2rem; /* Responsive font size using rem or em */
  }