.sexualOrientationGraphicTittleOne {
    display: flex;
    background-color: #DCBADB;
    max-width: 630px;
    width: 100%;
    height: 60px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    margin: 40px 60px; /* Adjusts the margin for top, bottom and left spacing */
    margin-left: auto;
}
  
.sexualOrientationGraphicTextOne {
    font-family: "Yusei Magic";
    text-align: center;
    font-size: 1.5rem;
}
  
.sexualOrientationGraphicContainer {
    display: flex;
    background-color: #f5ddf5;
    max-width: 630px;
    width: 100%;
    height: 350px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin: 40px 60px; /* Adjusts the margin for top, bottom and left spacing */
    margin-left: auto; /* Moves the component to the right */
}