.tittleOne {
    display: flex;
    background-color: #DCBADB;
    max-width: 630px;
    width: 100%;
    height: 60px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    margin: 50px 10px; /* Ajusta el margen para espacio arriba y abajo y a la izquierda */
  }
  
  .textTitleOne {
    font-family: "Yusei Magic";
    text-align: center;
    font-size: 1.5rem;
  }
  
  .containerGraphic {
    display: flex;
    background-color: #FFF0FF;
    max-width: 630px;
    width: 100%;
    height: 380px;
    justify-content: center;
    align-items: center;
    margin: 50px 10px; /* Ajusta el margen para espacio arriba y abajo y a la izquierda */
  }