@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.Container_Accessibility{
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox_accesibility{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C09AC3;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  overflow-x: hidden;
}

.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color:transparent;
}

.content {
  flex: 1;
}



@media (min-width: 320px) and (max-width: 600px) {
nav {
  padding: 20px 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.botonDropdown { 
  color: deeppink !important; 
  background-color: rgb(255, 255, 255) !important; 
  border-color: aqua !important; 
} 
 
 
.dropdown-cuerpo { 
  min-width: 11.2rem !important; 
  --bs-dropdown-padding-x: 0 !important; 
  --bs-dropdown-padding-y: 0.5rem !important; 
  border-color: aqua !important; 
  --bs-dropdown-border-width: var(--bs-border-width) !important; 
  --bs-dropdown-divider-bg: aqua !important; 
} 
 
.dropdwon-header { 
  display: block !important; 
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x) !important; 
  margin-bottom: 0 !important; 
  color: turquoise !important; 
} 
 
.dropdown-item { 
  display: block !important; 
  color: deeppink !important; 
  text-align: inherit !important; 
  text-decoration: none !important; 
  white-space: nowrap !important; 
  background-color: rgb(255, 255, 255) !important; 
  border-radius: 2px !important; 
  }

  @media ( max-width: 500px ) {
    .Navbar {
      padding: 0 10px;
    }
  
    .Navbar li{
      padding: 10px 10px 0 10px;
    }
  
    .Navbar li a{
      font-size: 14px;
    }
  
    .card {
      margin: 20px;
    }
    
    .Navbar {
      padding: 6px 8px;
    }
  
    .Navbar li {
      padding: 8px;
      position:relative;
      justify-content:center;
    }
  
    .Navbar li a {
      font-size: 1rem;
    }
  
    .Navbar li a::after {
      content: "";
      width: 100%;
      height: 2px;
      background: #711288;
      position: absolute;
      bottom: -4px;
      left: 0;
      transform: scaleX(0);
      transition: transform 0.2s ease-in-out;
    }
    .section-title {
    margin-top: 1.8rem;
    padding-bottom: 0.0rem;
    line-height: 1;
    font-size: 1.5rem;
    font-weight: 500;
    
    }
  }
}