.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Dropdown reusable component*/ 
 
.botonDropdown { 
  color: deeppink !important; 
  background-color: rgb(255, 255, 255) !important; 
  border-color: aqua !important; 
} 
 
 
.dropdown-cuerpo { 
  min-width: 11.2rem !important; 
  --bs-dropdown-padding-x: 0 !important; 
  --bs-dropdown-padding-y: 0.5rem !important; 
  border-color: aqua !important; 
  --bs-dropdown-border-width: var(--bs-border-width) !important; 
  --bs-dropdown-divider-bg: aqua !important; 
} 
 
.dropdwon-header { 
  display: block !important; 
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x) !important; 
  margin-bottom: 0 !important; 
  color: turquoise !important; 
} 
 
.dropdown-item { 
  display: block !important; 
  color: deeppink !important; 
  text-align: inherit !important; 
  text-decoration: none !important; 
  white-space: nowrap !important; 
  background-color: rgb(255, 255, 255) !important; 
  border-radius: 2px !important; 
}
